@font-face {
    font-family: corals b;
    src: url(../../fonts/TT\ Corals\ Trial\ Bold.otf);
}
@font-face {
    font-family: corals e;
    src: url(../../fonts/TT\ Corals\ Trial\ ExtraBold.otf);
}
@font-face {
    font-family: corals r;
    src: url(../../fonts/TT\ Corals\ Trial\ Regular.otf);
}